# Server configuration
APP_MODE=development
PORT=7000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=your_jwt_secret_key

# Database configuration
MYSQL_DATABASE_NAME=clothes_advisor
MYSQL_USERNAME=root
MYSQL_PASSWORD=password
MYSQL_HOST=host.docker.internal
