# Server configuration
APP_NAME="Clothes Advisor"
APP_MODE=development
PORT=7000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=your_jwt_secret_key

# Database configuration
MYSQL_DATABASE_NAME=clothes_advisor
MYSQL_USERNAME=root
MYSQL_PASSWORD=password
MYSQL_HOST=host.docker.internal

# Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SENDER_ADDRESS="test@gmail.com"
EMAIL_SENDER_PASSWORD="1234 5678 9010 1112"
