# Server configuration
APP_NAME="Clothes Advisor"
APP_MODE=development
SERVER_BASE_URL=https://localhost:7000
PORT=7000
CORS_ORIGIN=https://localhost:5173
JWT_SECRET=your_jwt_secret_key
COOKIE_SECRET=your_cookie_secret_key

# Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SENDER_ADDRESS="test@gmail.com"
EMAIL_SENDER_PASSWORD="1234 5678 9010 1112"

# Database configuration
MYSQL_DATABASE_NAME=clothes_advisor
MYSQL_USERNAME=root
MYSQL_PASSWORD=password
MYSQL_HOST=host.docker.internal

# AWS S3 configuration
AWS_HOST="http://localstack:4566"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_MANUAL_DATA_MANAGEMENT=1
